CTestConfig.cmake
CTestTestfile.cmake
CMakeFiles
cmake_install.cmake
stage
gipltng
ost
*_tests
Makefile
CTestTestfile.cmake
*.cxx
.*
!.gitignore
CMakeCache.txt
version.hh
config.hh
*.pyc
index.txt
examples_index.txt
html
scratch
pov_*test.pov
pov_*test.inc
*-out.pdb
*-out.sdf
*-out.crd
CMakeLists.txt.user
OpenStructure.cbp
DartConfiguration.tcl
Testing
*~
README.html
CPackConfig.cmake
CPackSourceConfig.cmake
/deployment/macos/DNG.app
/deployment/macos/standalone
ChemLib
components.cif
compounds.chemlib
/deployment/macos/openstructure.dmg
/scripts/dng
*.vcproj
/scripts/ost_config
*.user
*.dir
*.sln
*.ncb
*suo
Release
RelWithDebInfo
Debug
*.cxx_parameters
/deployment/win/create_archive.bat
/install_manifest.txt
*_out.csv
/modules/io/tests/temp_img.tmp
