CMakeFiles
cmake_install.cmake
stage
tests
dng
gipltng
ost
*_tests
Makefile
CTestTestfile.cmake
*.cxx
.*
!.gitignore
CMakeCache.txt
config.hh
*.pyc
index.txt
examples_index.txt
html
scratch
pov_*test.pov
pov_*test.inc
*-out.pdb
CMakeLists.txt.user
OpenStructure.cbp
DartConfiguration.tcl
Testing
README.html