CTestConfig.cmake
CTestTestfile.cmake
CMakeFiles
cmake_install.cmake
stage
gipltng
ost
*_tests
Makefile
CTestTestfile.cmake
*.cxx
.*
!.gitignore
CMakeCache.txt
version.hh
config.hh
*.pyc
index.txt
examples_index.txt
html
scratch
pov_*test.pov
pov_*test.inc
*-out.pdb
*-out.sdf
*-out.crd
*-out.pqr
*-out.png
*_out.dcd
*_out.pdb
CMakeLists.txt.user
OpenStructure.cbp
DartConfiguration.tcl
Testing
*~
README.html
CPackConfig.cmake
CPackSourceConfig.cmake
/deployment/macos/DNG.app
/deployment/macos/standalone
ChemLib
components.cif
compounds.chemlib
/deployment/macos/openstructure.dmg
/scripts/dng
/modules/gui/src/module_config.hh
*.vcproj
/scripts/ost_config
*.user
*.dir
*.sln
*.ncb
*suo
Release
RelWithDebInfo
Debug
*.cxx_parameters
/deployment/win/create_archive.bat
/install_manifest.txt
/modules/gui/src/module_config.hh
/modules/base/pymod/__init__.py
/modules/gui/src/dngr.qrc.depends
*_out.csv
*_out.tab
*_out.pickle
/modules/io/tests/temp_img.tmp
PYTEST-*.xml
ost_*_tests_log.xml
rules.ninja
build.ninja
modules/gui/src/dngr.qrc.depends
