[Desktop Entry]
Name=OpenStructure
GenericName=Open-Source Computational Structural Biology Framework
Exec=dng
Icon=openstructure
Terminal=false
Type=Application
Categories=Science;
