#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --buildsystem cmake 
override_dh_auto_configure:
	cmake ./ -DPREFIX=debian/openstructure/usr -DOPTIMIZE=ON -DCOMPOUND_LIB=compounds.chemlib
override_dh_auto_build:
	make -j6
override_dh_auto_install:
	make install
	rm debian/openstructure/usr/bin/ldt
	mkdir -p debian/openstructure-dev/usr
	mv debian/openstructure/usr/include debian/openstructure-dev/usr/
	mkdir -p debian/openstructure/usr/share/pixmaps/
	cp modules/gui/share/images/logo-small.png debian/openstructure/usr/share/pixmaps/openstructure.png
	mkdir -p debian/openstructure/usr/share/applications/
	cp debian/openstructure.desktop debian/openstructure/usr/share/applications/
	desktop-file-validate debian/openstructure/usr/share/applications/openstructure.desktop
